<input type="{{ widget.type }}" list="{{ widget.id }}" name="{{ widget.name }}" {% if widget.initial %}value="{{ widget.initial }}"{% endif %} {% include "django/forms/widgets/attrs.html" %} />
<datalist id="{{ widget.id }}">{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option use_dataset=widget.use_dataset %}
  {% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</datalist>